<?php
$CONFIG = array (
  'passwordsalt' => '{{ application_passwordhash }}',
  'secret' => '{{ application_secret }}',
  'installed' => true,
  'trusted_domains' => array (
    0 => 'localhost',
    1 => '{{ deployment_fqdn }}',
  ),
  'datadirectory' => '{{ application_data_directory }}',
  'overwrite.cli.url' => 'https://{{ deployment_fqdn }}/',
  'dbtype' => '{{ db_type }}',
  'version' => '21.0.5.1',
  'dbname' => '{{ db_name }}',
  'dbhost' => '{{ db_host }}',
  'dbport' => '{{ db_port }}',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ db_user }}',
  'dbpassword' => '{{ db_password }}',
  'htaccess.RewriteBase' => '/',
  'theme' => 'ida',
  'knowledgebaseenabled' => false,
  'enable_avatars' => false,
  'allow_user_to_change_display_name' => false,
  'skeletondirectory' => '',
  'updatechecker' => false,
  'appstoreenabled' => false,
  'enable_previews' => false,
  'logfile' => '{{ directory_data1_root }}/log/nextcloud.log',
  'loglevel' => 0,
  'log_rotate_size' => 0,
  'cron_log' => true,
  'maintenance' => false,
  'integrity.check.disabled' => true,
  'filelocking.enabled' => false,
  'ida' => array (
    'IDA_ENVIRONMENT' => '{{ application_environment }}',
    'BATCH_ACTION_TOKEN' => '{{ application_batch_action_token }}',
    'PROJECT_USER_PASS' => '{{ application_project_user_pass }}',
    'RABBIT_HOST' => '{{ rabbitmq_host }}',
    'RABBIT_PORT' => {{ rabbitmq_port }},
    'RABBIT_VHOST' => '{{ rabbitmq_vhost }}',
    'RABBIT_WORKER_USER' => '{{ rabbitmq_worker_user }}',
    'RABBIT_WORKER_PASS' => '{{ rabbitmq_worker_password }}',
    'URL_BASE_FILE' => 'https://{{ deployment_fqdn }}/remote.php/webdav',
    'URL_BASE_SHARE' => 'https://{{ deployment_fqdn }}/ocs/v1.php/apps/files_sharing/api/v1/shares',
    'URL_BASE_GROUP' => 'https://{{ deployment_fqdn }}/ocs/v1.php/cloud/groups',
    'METAX_API_USER' => '{{ metax_user }}',
    'METAX_API_ROOT_URL' => '{{ metax_base_url }}rest/v1',
    'METAX_API_RPC_URL' => '{{ metax_base_url }}rpc/v1',
    'METAX_API_PASS' => '{{ metax_pass }}',
    'SIMULATE_AGENTS' => false,
  ),
  'LOCAL_LOGIN' => false,
  'IDA_HOME' => 'https://{{ deployment_fqdn }}',
  'SSO_API' => '{{ sso_api_url }}',
  'SSO_DOMAIN' => '{{ sso_api_domain }}',
  'SSO_AUTHENTICATION' => {{ sso_authentication }},
  'SSO_KEY' => '{{ sso_key }}',
  'SSO_PASSWORD' => '{{ sso_password }}',
  'FDWE_URL' => '{{ fdwe_url }}',
  'memcache.local' => '\\OC\\Memcache\\Redis',
  'memcache.distributed' => '\\OC\\Memcache\\Redis',
  'redis' => array (
    'host' => '{{ redis_host }}',
    'port' => {{ redis_port }},
  ),
  'instanceid' => 'ocxx4x4q1uvx',
);
