[Unit]
Description=Fairdata IDA RabbitMQ ReplicationAgent daemon
After=network.target

[Service]
User=apache
Group=apache
WorkingDirectory={{ repo_ida_path }}
ExecStart={{ repo_ida_path }}/venv/bin/python -m agents.replication.replication_agent

[Install]
WantedBy=multi-user.target
